body {
	background-color: "#fbf7f5";
	background-image: url ("images/new_donuts.jpg");
	
	font-family: "Futura";
	
}

h1{
	font-family: "Futura";
	font-size: 40px;
	text-align: center;
	text-shadow: 2px 2px 8px;
	color:#32324e;
}

img {
	margin: 0px;
	width: 400px;
	height:400px;
	float: right;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.clearfix::after {
content: "";
display: block;

clear:both;
}
.content {
	display:flex;
}

.side-nav, .main {
	padding:6px;
}

.side-nav {
	width: 20%;
}

.side-nav ul a {
	color: #444;
}

.side-nav ul {
	padding: 0;
	list-style: none;
}

.side-nav ul li {
	width: 100%;
	padding: 12px;
	text-align: center;
	border-bottom: 1px solid #555;
	box-sizing: border-box;
}
.main {
	width: 80%;
}
.footer {
	color: #000000;
	height: 100px;
	text-align: center;
	background-color: #ffffff;
}
.footer p {
	color: #000000;
}
/* flex container */

.columns {
	display: flex;
	flex-direction: column;
	/*justify-content: space -around;*/
}
/*.columns p {
	width: 33%;
	padding: 6px;
}*/
.gallery {
	display: flex;
	justify-content: center;
	align-items: baseline;

	flex-wrap: wrap;
} 
.gallery img {
	height: 180px;
}
/*.columns p {
	width: 32%;
	float:left;
	padding: 6px;
}*/
