body {
	margin: 0 auto
	max-width: 50em
	
	font-family: "Helvetica", "Arial", sans-serif;
	line-height: 1.5;
}

h1, h2 {
	color: #444;
	font-family: "Helvetica", "Arial", sans-serif;
}

p{
	color: #333;
	font-family: "Helvetica", "Arial", sans-serif;
	
}
img {
	margin: 12px;
	width: 240px;
	float: left;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.clearfix::after {
content: "";
display: block;

clear:both;
}

/* flex container */

.columns {
	display: flex;
	flex-direction: column;
	/*justify-content: space -around;*/
}
/*.columns p {
	width: 33%;
	padding: 6px;
}*/
.gallery {
	display: flex;
	justify-content: center;
	align-items: baseline;

	flex-wrap: wrap;
} 
.gallery img {
	height: 180px;
}
/*.columns p {
	width: 32%;
	float:left;
	padding: 6px;
}*/